name: Publish server

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Build
        run: |-
          cd server
          VERSION=`cat ../package.json| grep '"version":'`
          sed -i "3s/.*/$VERSION/" package.json
          npm install
          npm run compile
          npm publish
